%html{ 'ng-app' => 'myApp' }
  %head
    %title ConceptQL Sandbox
    %link{ :href => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', :rel=>'stylesheet' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{ :src => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' }
    %script{ :type => 'text/javascript', :src => 'app.js' }
    :css
      .examples {
        margin-bottom: 0.5em;
      }
  %body{ 'ng-controller' => 'MyCtrl as myCtrl' }
    .row
      .panel.panel-default.col-md-12
        .panel-heading
          %h1 ConceptQL Sandbox
        .panel-body
          %p This webpage demonstrates some of the features of the <a href="http://github.com/outcomesinsights/conceptql">ConceptQL</a> language.  The language itself is described in <a href="https://github.com/outcomesinsights/conceptql/blob/master/doc/ConceptQL%20Specification%20(alpha).pdf?raw=true">this PDF</a>.
          %p To explore the language, simply choose an example from the drop down menu.
          %p Each example will be submitted to a web service that translates ConceptQL statements into:
          %ul
            %li A diagram, complete with the number of results returned by each part of the statement (labeled "rows") and the number of unique patients returned (labeled "n")
            %li A YAML representation of the statement, to demonstrate that ConceptQL can be represented in any object notation that supports hashes and arrays
            %li A SQL statement that can be run on any PostgreSQL database loaded with <a href="http://omop.org/CDM">OMOP CDMv4</a> structured data and the OMOP vocabulary tables
            %li The first 10 results returned by the ConceptQL statement
          %p The web service uses a sample of synthetic Medicare claims data consisting of 100,000+ patients to generate results and counts for the diagrams.  The results derived from these synthetic data should not be used for actual research purposes.
          %p Some features of the language are experimental and are not yet part of the SQL generator.  As a result, some statements will not return SQL statements, diagrams with counts, or the first 10 results.

    .row
      .panel.panel-default.col-md-12
        .panel-heading
          %h4 ConceptQL Statement
        .panel-body
          %label{ :for => 'dialect' } RDBMS Dialect for Examples
          %br
          %select.examples{ :name => 'dialect', 'ng-change' => 'loadExample()', 'ng-model' => 'dialect' }
            %option{ :value => 'postgres' } PostgreSQL
            %option{ :value => 'oracle' } Oracle
          %br

          %label{ :for => 'examples' } Example Statements
          %br
          %select.examples{ :name => 'examples', 'ng-change' => 'loadExample()', 'ng-model' => 'exampleHashId' }
            %option{ :value => '' }
            - @examples.each do |example|
              %option{ :value => example.hash_id }= example.title

          %form
            %label{ :for => 'title' } Title of Example
            %br
            %input{ :type => 'text', :size => 70, 'ng-model' => 'title', 'ng-change' => 'exampleUrl=null' }
            %br

            %label{ :for => 'description' } A Brief Description on What Example Does
            %br
            %textarea{ 'ng-model' => 'description', :rows => 4, :cols => 70, 'ng-change' => 'exampleUrl=null' }
            %br

            %label{ :for => 'statment' } Editable ConceptQL Statement in JSON Format
            %br
            %textarea{ 'ng-model' => 'statement', :rows => 15, :cols => 70, 'ng-change' => 'exampleUrl=null' }

            %div{ 'ng-show' => 'exampleUrl' }
              %label{ :for => 'exampleUrl' } URL for Example
              %br
              %input{ :type => 'text', :size => 70, 'ng-model' => 'exampleUrl' }
        .panel-footer
          /%button{ 'ng-click' => 'createExample()' } Create Example
    .row
      .panel.panel-default.col-md-12{ 'ng-show' => 'query || img_src || yaml'}
        .panel-heading
          %h4 Response
        .panel-body
          .panel.panel-default.pull-left{ 'ng-show' => 'img_src'}
            .panel-heading
              %h4 Diagram
            .panel-body
              %img{ 'ng-src' => '{{img_src}}'  }
          .panel.panel-default.pull-left{ 'ng-show' => 'yaml' }
            .panel-heading
              %h4 YAML Representation
            .panel-body
              %textarea{ 'ng-model' => 'yaml', :rows => 25, :cols => 60 }
          .panel.panel-default.pull-left{ 'ng-show' => 'query' }
            .panel-heading
              %h4 PostgreSQL, OMOP-CDMv4 Compatible SQL Query
            .panel-body
              %p.info{ 'ng-show' => 'copied' } NOTE: If you plan to use this query against your PostgreSQL OMOP-CDM data, please make sure you've set your search_path variable properly.
              %textarea{ 'ng-model' => 'query', 'ng-copy' => 'copied=true', :rows => 25, :cols => 70 }
          .clearfix
          .panel.panel-default.pull-left{ 'ng-show' => 'partial_results != undefined && partial_results != null && !partial_results[0]' }
            .panel-heading
              %h4 No results returned
          .panel.panel-default.pull-left{ 'ng-show' => 'partial_results != undefined && partial_results != null && partial_results[0]' }
            .panel-heading
              %h4 First {{ partial_results.length }} Results
            .panel-body
              %table.table
                %thead
                  %tr
                    %th{ 'ng-repeat' => 'key in partial_results_keys' }
                      {{ key }}
                %tbody
                  %tr{ 'ng-repeat' => 'result in partial_results' }
                    %td{ 'ng-repeat' => 'key in partial_results_keys' }
                      {{ result[key] }}
