%html{ 'ng-app' => 'myApp' }
  %head
    %title ConceptQL Sandbox
    %link{ :href => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', :rel=>'stylesheet' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js' }
    %script{ :src => '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' }
    %script{ :type => 'text/javascript', :src => 'app.js' }
    :css
      .examples {
        margin-bottom: 0.5em;
      }
  %body{ 'ng-controller' => 'MyCtrl as myCtrl' }
    .row
      .panel.panel-default.col-md-12
        .panel-heading
          %h1 ConceptQL Sandbox
        .panel-body
          %p This webpage allows you to tinker with the <a href="http://github.com/outcomesinsights/conceptql">ConceptQL</a> language.  The language itself is descriped in <a href="https://github.com/outcomesinsights/conceptql/blob/master/doc/ConceptQL%20Specification%20(alpha).pdf?raw=true">this PDF</a>.
          %p You may choose some example statments from the "Example Statements" dropdown.  These examples demonstrate some of the features of ConceptQL.
          %p To enter in your ConceptQL example, you may modify an existing example, or enter in your own example in JSON format and click "Create Example".  The statement is submitted to a web service that will translate the statement into OMOP-CDM compatible SQL designed to run against a PostgreSQL database created through the <a href="http://github.com/outcomesinsights/loadmop">loadmop</a> tool.  It will also display a diagram of the statement.
          %p The diagram includes a count of all the results that match your statement, along with a count of the unique patients in those results.  This processing can take a bit of time on our server, and your diagram may take a few moments to appear.  Once a diagram is generated, it is cached so it will appear faster the next time you access it.
          %p Some features of the language are experimental and are not yet part of the SQL generator.  You might see a diagram, but no SQL if you run a statement that contains these experimental features.  Counts won't appear on diagrams that are experimental.

    .row
      .panel.panel-default.col-md-12
        .panel-heading
          %h4 ConceptQL Statement
        .panel-body
          %label{ :for => 'examples' } Example Statements
          %br
          %select.examples{ :name => 'examples', 'ng-change' => 'loadExample()', 'ng-model' => 'exampleHashId' }
            %option{ :value => '' }
            - @examples.each do |example|
              %option{ :value => example.hash_id }= example.title
          %form
            %label{ :for => 'title' } Title of Example
            %br
            %input{ :type => 'text', :size => 70, 'ng-model' => 'title', 'ng-change' => 'exampleUrl=null' }
            %br

            %label{ :for => 'description' } A Brief Description on What Example Does
            %br
            %textarea{ 'ng-model' => 'description', :rows => 4, :cols => 70, 'ng-change' => 'exampleUrl=null' }
            %br

            %label{ :for => 'statment' } Editable ConceptQL Statement in JSON Format
            %br
            %textarea{ 'ng-model' => 'statement', :rows => 15, :cols => 70, 'ng-change' => 'exampleUrl=null' }

            %div{ 'ng-show' => 'exampleUrl' }
              %label{ :for => 'exampleUrl' } URL for Example
              %br
              %input{ :type => 'text', :size => 70, 'ng-model' => 'exampleUrl' }
        .panel-footer
          %button{ 'ng-click' => 'createExample()' } Create Example
    .row
      .panel.panel-default.col-md-12{ 'ng-show' => 'query || img_src || yaml'}
        .panel-heading
          %h4 Response
        .panel-body
          .panel.panel-default.pull-left{ 'ng-show' => 'img_src'}
            .panel-heading
              %h4 Diagram
            .panel-body
              %img{ 'ng-src' => '{{img_src}}'  }
          .panel.panel-default.pull-left{ 'ng-show' => 'yaml' }
            .panel-heading
              %h4 YAML Representation
            .panel-body
              %textarea{ 'ng-model' => 'yaml', :rows => 25, :cols => 60 }
          .panel.panel-default.pull-left{ 'ng-show' => 'query' }
            .panel-heading
              %h4 PostgreSQL, OMOP-CDMv4 Compatible SQL Query
            .panel-body
              %p.info{ 'ng-show' => 'copied' } NOTE: If you plan to use this query against your PostgreSQL OMOP-CDM data, please make sure you've set your search_path variable properly.
              %textarea{ 'ng-model' => 'query', 'ng-copy' => 'copied=true', :rows => 25, :cols => 70 }
